<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #DDDDDD;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #DDDDDD;
}
</style>
</head>
<body>
<div class="meditation-container">
  <h1>All the Meditations</h1>
</div>
<table>
<thead>
  <tr>
    <th>Mood</th>
    <th>Users</th>
    <th>Duration</th>
    <th>Technique</th>
  </tr>
</thead>
    <tbody> 
      <% @meditations.each do |meditation| %>
      
      <tr>
        <th><%= link_to meditation.mood, meditation_path(meditation.id)%></th>
        <th><%= meditation.user.username %></th>
        <th><%= meditation.duration %></th>
        <th><%= meditation.technique.name %></th>

      </tr> 
      <% end %>  
<%= form_tag('/meditations', method: :get, class: "field has-addons") do %>
    <%= text_field_tag(:q, params[:q], class: "input", placeholder: "Search for a") %>
    <%= submit_tag("Search", class: "button is-info") %>
    <% end %>


      
     </tbody>
</table> 
