<%=  display_header(@review)%>

<%= render partial: 'layouts/errors', locals: {object: @review} %>


<%= form_for(@review) do |f|%>
  <% if params[:meditation_id] %>
    <%= f.hidden_field :meditation_id %>
  <% else %>
    <div>
      <%= f.label :meditation_id, "Select a Meditation" %>
      <br>
    <%= f.collection_select :meditation_id, Meditation.alpha, :id, :mood_and_technique, include_blank: 'Select One' %>
    </div>
  <% end %>
  <div>
    <%= f.label :stars %>
    <%= f.number_field :stars %>
  </div>
  <br>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
   <br>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content, size: "30x4" %>
  </div>
  <%= f.hidden_field :meditation_id %>
  
  <%= f.submit %>
<% end %>